body{
    background-image: url(images/pxfuel\ \(1\).jpg);
    opacity: 20px;
}
.skills-section {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 13px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid red;
}

.skills-section h2 {
    text-align: center;
    color: #fff8f8;
    margin-bottom: 20px;
}

.skill {
    margin: 50px 50px;
    float: left;

}

.skill span {
    display: block;
    font-weight: bold;
    color: #fff4f4;
    margin-bottom: 5px;
}

.progress-bar {
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    height: 132px;
    width: 231px;
}

.progress {
    background: #007bff;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 20px; /* Center text vertically */
    border-radius: 20px;
    transition: width 0.4s ease;
}
.skill-wrapper{
    border: 1px solid yellow;
}
.right-content{
    height: 300px;
    width: 300px;
    float: right;
    border: 2px solid black;
    background-image: url(/images/pf-skills.jpg );
    box-shadow: 0 0 70px #f4ec04;
    margin-top: 190px;
    margin-right: 10px;
    background-size: cover;
    border-radius: 10% 30% 50% 70%;
    
    /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
}